.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
.idea
*.iml
target
.cache
dependency-reduced-pom.xml
.project
.classpath
pom.xml.versionsBackup
~*
*.lock
*.bak
*.orig
*.old
*.md.html
test_config.properties
/src/main/resources/createJsonFilesLambda/node_modules/
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.core.resources.prefs
*.flattened-pom.xml
/.apt_generated/
/.apt_generated_tests/
